body{
   background-color: teal; color: teal;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    background-color:teal;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.container .searchbox
{   top:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url('images/pokemonbanner.png');
    background-size:auto;
    background-repeat: no-repeat;
   background-blend-mode: lighten;

  backdrop-filter: blur(5px);
    
    justify-content: center;
    border-radius: 10px;
    padding: 10px;

}
#button1
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#button1:hover{

}
input[type=text] {
    
  
    margin: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
#image{
    position: relative;
    display: flex;
    flex-flow: column;
    height: 350px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    justify-content: center;
    margin: 20px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#pokedex
{   top:40%;
    left: -20%;
    position: relative;
    display: flex;
    height: 10%;
    width: 50%;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    font-weight: bold;
    border-radius: 5px;
}
@media screen and (min-width: 500px) {
  .container .searchbox{
    position:absolute;
 
        left: 1rem;
        scale: 0.9;

    }
    #image{
        scale:0.65;
        position: absolute;
        left:2.5rem;
    }
}